.features {
  display: flex;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  display: inline-block;
  height: 150px;
  width: 150px;
}

.inlineImage {
  display: inline-block;
  width: 25%;
}

.inlineText {
  display: inline-block;
  padding: 0 1rem;
  width: 75%;
  padding-bottom: 1rem;
  text-align: justify;
}

.padding {
  padding: 0 1rem;
}