/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@font-face { 
  font-family: Sansation; 
  src: url('~/static/fonts/Sansation_Bold.ttf');
}

.heroBanner {
  padding: 12em 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.title {
  color: white; 
  font-family: Sansation; 
  font-size: 5em;
  text-align: left;
}

.subtitle {
  color: white; 
  font-family: Sansation; 
  font-size: 3em;
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureImage {
  height: 270px;
  width: 220px;
  padding: 10px;
  padding-bottom: 55px;
}

.gradient {
  background-image: radial-gradient(ellipse at right, transparent, #000000 100%), url("/img/background_cropped.png"); /*, url("/img/background_cropped.png")*/
  background-size: cover;
}

.inline {
  display: inline-block;
}

.footer {
  background: linear-gradient(235deg, #000000,#214186); 
}