/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureImage {
  height: 200px;
  width: 200px;
  padding: 1rem;
}

.gradient {
  background-image: url("/img/background.png");/*linear-gradient(235deg, #000000,#214186);  45deg,  */
  background-size: cover;
}

.inline {
  display: inline-block;
}

.footer {
  background: linear-gradient(235deg, #000000,#214186); 
}